@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Commissioner:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    align-items: center;
}

.logo {
    width: 8rem;
}

.header-redic {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 19px;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h2 {
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    margin-left: 17px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.cats {
    display: flex;
}

.descricao {
    display: flex;
    justify-content: center;
    color:#414141;
    font-size: 18px;
    font-weight: 450;
    margin-top: 4px;
}

.categorias {
    display: flex;
    width: 285px;
    height: 140px;
    margin-top: 20px;
}

.link {
    text-decoration: none;
}

.cartaz1 {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.carrossel {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    column-gap: 10px;
    font-size: 14px;
    margin-bottom: 80px;
}

.blocoinfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-evenly;
    width: 280px;
    height: 500px;
    font-size: 13.5px;
    color: #222222;
}

.blocoinfo h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.foto-info {
    width: 280px;
    height: 175px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.foto-pqn {
    height: 17px;
    width: 17px;
    margin-left: 20px;
    margin-right: 0%;
}

.textos {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.meu-botao-ativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-ativo:hover {
    color: white;
    background-color: #007BFF;
}

.meu-botao-inativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #9CA3AF;
    color: #9CA3AF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-inativo:hover {
    color: white;
    background-color: #9CA3AF;
}

.continuar-evento {
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    width: 280px;
    height: 500px;
    font-size: 13.5px;
    color: #222222;
}

.seta {
    display: flex;
    align-self: center;
    margin-top: 61%;
    width: 80px;
    height: 80px;
}

.veja {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 16px;
}

.clique {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.trilha {
    display: flex;
    background-color: #f6f6f9;
    border-radius: 23px;
    margin: 10px 20px 0 47px;
    text-align: left;
}

.img-trilha {
    width: 55%;
    height: 100%;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.conteudo-trilha {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    margin-top: 10px;
}

.conteudo-trilha h3 {
    font-size: 25px;
    margin: 0 0 30px 0;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.infos2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fotos2 {
  width: 20px;
}

.botao-ativo {
    display: block;
    width: 500px;
    height: 40px;
    align-content: center;
    margin: 20px auto 0;
    text-align: center;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 23px;
    font-size: 20px;
    color: #007BFF;
    margin-top: 20px;
}

.botao-ativo:hover {
    color: white;
    background-color: #007BFF;    
}

.cinzas  {
    background-color: #f6f6f9;
}

.bannersesp {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 50px;
}

.cartaz2 {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto 2rem auto;
}

.bloquinho {
    background-color: #f6f6f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */

    text-align: center;
}

.bloquinho p {
    color: #555;
    font-size: 20px;
}

.avaliacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 675px;
}

.textinho {
    margin-bottom: 28px;
    margin-top: 20px;
}

.avaliacoes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.bloco {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-around;
    width: 450px;
    height: 450px;
}

.perfil {
    width: 105px;
    border-radius: 50%;
    align-self: center;
    margin-top: 40px;
}

.juntos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.insta {
    width: 20px;
    height: 20px;
}

.fala {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 18px;
}

.estrelas {
    width: 200px;
    align-self: center;
    margin-bottom: 15px;
}

details {
    background-color: #f6f6f9;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 2rem 0 2rem;
    cursor: pointer;
    font-size: 20px;
}

.conteudo-escondido {
  display: none;
}

#vermais:checked ~ .conteudo-escondido {
  display: block;
}

#vermais {
  display: none;
}

.ver {
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.botao:hover {
    background-color: #007BFF;
    color: white;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #222222;
}

footer h2{
    color: white;
    font-size: 20px;
    margin-left: 0px;
}

.footer-geral {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.kmais {
    font-size: 27px;
}

.reclame-aqui {
    margin-left: 30px;
}

.kmais-footer {
    font-weight: 500;
}

.colunas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    text-align: left;
}

.colunas p {
    color: #d2d2d6;
}

.colunas a {
    text-decoration: none;
    color: #d2d2d6;
}

.coluna {
    flex: 1;
    min-width: 150px;
    max-width: 220px;
    text-align: left;
    font-size: 16px;
}

.coluna h2 {
    margin-bottom: 10px;
}

.coluna p {
    margin: 0 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

.linha-rodape {
    border: none;
    height: 1px;
    background-color: #d2d2d6;
    margin: 25px auto 0 auto;
    width: 100%;
}

.direitos {
    padding: 100px 20px 60px 20px;
    text-align: center;
}

.direitos p {
    color: #B9B9B9;
    font-size: 14.3px;
}