@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Commissioner:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    align-items: center;
    max-width: 1500px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

.secoes {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.buscador {
    display: none;
}

.tracinhos {
    display: none;
}

section {
    width: 100%;
}

section .contem {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

section .contem-cinza {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

section .contem-footer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

.logo {
    width: 8rem;
}

.header-redic {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 19px;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h2 {
    font-size: 25px;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.cats {
    display: flex;
    justify-content: space-between;
}

.descricao {
    display: flex;
    justify-content: center;
    color:#414141;
    font-size: 18px;
    font-weight: 450;
    margin-top: 4px;
}

.categorias {
    display: flex;
    width: 100%;
    height: 140px;
    margin-top: 20px;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.cartaz1 {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.mobile-cartaz {
    display: none;
}

.carrossel {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-between;
    column-gap: 10px;
    font-size: 14px;
    margin-bottom: 80px;
}

.blocoinfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-evenly;
    width: 22%;
    height: 500px;
    font-size: 13.5px;
    color: #222222;
}

.blocoinfo2 {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f9;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-evenly;
    width: 22%;
    height: 500px;
    font-size: 13.5px;
    color: #222222;
}

.blocoinfo h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.foto-info {
    width: 100%;
    height: 175px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.foto-pqn {
    height: 17px;
    width: 17px;
    margin-left: 20px;
    margin-right: 0%;
}

.textos {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.meu-botao-ativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-ativo:hover {
    color: white;
    background-color: #007BFF;
}

.blocoinfo2 h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.foto-info2 {
    width: 100%;
    height: 175px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.informacoes2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.foto-pqn2 {
    height: 17px;
    width: 17px;
    margin-left: 20px;
    margin-right: 0%;
}

.textos2 {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.meu-botao-ativo2 {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-ativo2:hover {
    color: white;
    background-color: #007BFF;
}

.meu-botao-inativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #9CA3AF;
    color: #9CA3AF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-inativo:hover {
    color: white;
    background-color: #9CA3AF;
}

.continuar-evento {
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    width: 22%;
    height: 500px;
    font-size: 13.5px;
    color: #222222;
}

.seta {
    display: flex;
    align-self: center;
    margin-top: 61%;
    width: 80px;
    height: 80px;
}

.veja {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 16px;
}

.clique {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.trilha {
    display: flex;
    background-color: #f6f6f9;
    border-radius: 23px;
    text-align: left;
    margin-top: 10px;
}

.img-trilha {
    width: 55%;
    height: 100%;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.conteudo-trilha {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    margin-top: 10px;
}

.conteudo-trilha h3 {
    font-size: 25px;
    margin: 0 0 30px 0;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.infos2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fotos2 {
  width: 20px;
}

.botao-ativo {
    display: block;
    width: 100%;
    height: 40px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 23px;
    font-size: 20px;
    color: #007BFF;
}

.botao-ativo:hover {
    color: white;
    background-color: #007BFF;    
}

.cinzas  {
    background-color: #f6f6f9;
}

.bannersesp {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 50px;
}

.cartaz2 {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto;
    padding: 0px;
    border-radius: 20px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
    margin: 0 auto 2rem auto;
}

.bloquinho {
    background-color: #f6f6f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 250px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */
    text-align: center;
}

.bloquinho p {
    color: #555;
    font-size: 1.05rem;
}

.icone-promo {
    height: auto;
    width: 12%;
    margin-bottom: 0.2rem;
}

.avaliacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 675px;
    height: 100%;
    max-width: 1500px;
}

.textinho {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.8rem;
}

.bloco {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
}

.perfil {
    max-width: 105px;
    width: 80%;
    border-radius: 50%;
    align-self: center;
    margin-top: 2rem;
}

.nome {
    font-size: 1.2rem;
}

.juntos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.insta {
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
}

.fala {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1rem;
}

.estrelas {
    max-width: 200px;
    width: 100%;
    align-self: center;
    margin-bottom: 15px;
}

details {
    background-color: #f6f6f9;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 20px;
}

.conteudo-escondido {
  display: none;
}

#vermais:checked ~ .conteudo-escondido {
  display: block;
}

#vermais {
  display: none;
}

.ver {
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.botao:hover {
    background-color: #007BFF;
    color: white;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #222222;
  padding: 1.5rem;
}

footer h2{
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.footer-geral {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
}

.kmais {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.kmais-footer {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.reclame-aqui {
    margin-bottom: 0.8rem;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.colunas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}

.colunas p {
    color: #d2d2d6;
    justify-content: space-between;
}

.colunas a {
    text-decoration: none;
    color: #d2d2d6;
    justify-content: space-between;
}

.coluna {
    flex: 1;
    min-width: 150px;
    max-width: 220px;
    text-align: left;
    font-size: 1.5rem;
    justify-content: space-between;
}

.coluna h2 {
    margin-bottom: 0.5rem;
}

.coluna p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.linha-rodape {
    border: none;
    height: 1px;
    background-color: #d2d2d6;
    margin: 25px auto 0 auto;
    width: 100%;
}

.direitos {
    padding: 50px 0px 10px 0px;
    text-align: center;
}

.direitos p {
    color: #B9B9B9;
    font-size: 0.9rem;
}

.trilhas {
    display: none;
}

@media screen and (max-width: 922px) {
    .secoes {
        display: none;
    }

    
    .tracinhos {
        display: flex;
        color: rgb(58, 58, 58);
        margin-left: auto;
    }

    .material-icons:hover {
        cursor: pointer;
    }

    header {
        justify-content: space-between;
    }

    .busca {
        justify-content: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 940px) {
    .categories {
        display: flex;
        max-width:940px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 922px) {
      .carrossel {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
      }

      .blocoinfo {
        width: 50%;
      }

      .blocoinfo2 {
        width: 50%;
      }

      .continuar-evento {
        width: 50%;
      }

      .trilha {
        display: none;
      }

      .estrelas {
        width: 50%;
      }

      .perfil {
        width: 50%;
      }

      .reclame-aqui {
        width: 50%;
      }

      .trilhas {
        display: block;
      }

      .avaliacao {
        height: 50%;
      }
    }

@media screen and (max-width: 768px) {
    .carrossel {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
      }

    .categories {
        display: flex;
        max-width: 768px;
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .blocoinfo {
        width: 50%;
      }

    .blocoinfo2 {
        width: 50%;
      }

    .continuar-evento {
        width: 50%;
      }

    .trilha {
        display: none;
      }

    .estrelas {
        width: 50%;
      }

    .perfil {
        width: 50%;
      }

    .reclame-aqui {
        width: 50%;
      }

    .trilhas {
        display: block;
      }

    .avaliacao {
        max-height: 5000px;
    }

    .container {
        display: flex;
        flex-direction: column;
      }

    .avaliacoes {
        display: flex;
        flex-direction: column;
      }

    .cartaz1 {
        display: none;
      }

    .cartaz2 {
        display: none;
      }

    .mobile-cartaz {
        display: flex;
        justify-content: center;
    }

    .banner-mobile {
        width: 92.1vw;
      }

    .banner-mobile2 {
        width: 92.1vw;
        border-radius: 23px;
    }

    header {
        flex-wrap: wrap;
    }

    .busca {
        display: none;
      }

    .buscador {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}