@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Commissioner:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    justify-self: center;
    align-items: center;
    max-width: 1500px;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.busca {
    max-width: 335px;
    width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 0.35rem;
    border: 0.01rem solid #ababab;
    border-radius: 8px;
    box-shadow: 0 1.5px 5px rgba(120, 120, 120, 0.15);
    width: 100%;
}

.input {
    border: none;
    font-size: 1.05rem;
    padding: 0.4rem;
    width: 100%;
}

.input::placeholder {
    color: #939393;
}

.input:focus {
    outline: none;
}

#search {
    color: #747474;
}

.secoes {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.buscador {
    display: none;
}

.tracinhos {
    display: none;
}

section {
    width: 100%;
}

section .contem {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

section .contem-cinza {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

section .contem-footer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.5rem;
}

.logo {
    width: 8rem;
}

.header-redic {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 19px;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h2 {
    font-size: 25px;
}

.conteudo2 {
    width: 100%;
}

.categories {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: auto;
}

.categories::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 13rem;
    min-width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao {
    display: flex;
    justify-content: center;
    color:#414141;
    font-size: 18px;
    font-weight: 450;
    margin-top: 4px;
}

.categorias {
    min-width: 19.99rem;
    /* max-width: 19.99rem; */
    width: 100%;
}

.link {
    text-decoration: none;
}

.cartaz1 {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.mobile-cartaz {
    display: none;
}

/* .carrossel {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-between;
    column-gap: 10px;
    font-size: 14px;
    margin-bottom: 80px;
} */

.carrossel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: auto;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.blocoinfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-evenly;
    min-width: 20rem;
    width: 100%;
    min-height: 34rem;
    font-size: 0.9rem;
    color: #222222;
}

.blocoinfo2 {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f9;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: space-evenly;
    min-width: 20rem;
    width: 25%;
    min-height: 34rem;
    font-size: 0.9rem;
    color: #222222;
}

.blocoinfo h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.foto-info {
    max-width: 20rem;
    width: 100%;
    height: 175px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.foto-pqn {
    height: 17px;
    width: 17px;
    margin-left: 20px;
    margin-right: 0%;
}

.textos {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.meu-botao-ativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-ativo:hover {
    color: white;
    background-color: #007BFF;
}

.blocoinfo2 h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.foto-info2 {
    width: 100%;
    height: 175px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.informacoes2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.foto-pqn2 {
    height: 17px;
    width: 17px;
    margin-left: 20px;
    margin-right: 0%;
}

.textos2 {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.meu-botao-ativo2 {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-ativo2:hover {
    color: white;
    background-color: #007BFF;
}

.meu-botao-inativo {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #9CA3AF;
    color: #9CA3AF;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.meu-botao-inativo:hover {
    color: white;
    background-color: #9CA3AF;
}

.continuar-evento {
    background-color: white;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    min-width: 20rem;
    width: 100%;
    min-height: 34rem;
    font-size: 0.8rem;
    color: #222222;
}

.seta {
    display: flex;
    align-self: center;
    margin-top: 61%;
    width: 80px;
    height: 80px;
}

.veja {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 16px;
}

.clique {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.trilha {
    display: flex;
    background-color: #f6f6f9;
    border-radius: 23px;
    text-align: left;
    margin-top: 10px;
}

.img-trilha {
    width: 55%;
    height: 100%;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.conteudo-trilha {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    margin-top: 10px;
}

.conteudo-trilha h3 {
    font-size: 25px;
    margin: 0 0 30px 0;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

summary {
    display: flex;
    font-weight: 460;
    font-size: 1.1rem;
    min-height: 2rem;
    max-height: 2rem;
    align-items: center;
}

.detalhamento {
    font-size: 1.2rem;
    font-weight: 340;
}

.custom-detail summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 1.5rem;
}

.custom-detail summary::marker {
    display: none;
}

.custom-detail summary::after {
    content: "▼";
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0deg);
    transition: transform 0.33s ease;
}

.custom-detail[open] summary::after {
    transform: rotate(-180deg);
}

.infos2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fotos2 {
  width: 20px;
}

.botao-ativo {
    display: block;
    width: 100%;
    height: 40px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 23px;
    font-size: 20px;
    color: #007BFF;
}

.botao-ativo:hover {
    color: white;
    background-color: #007BFF;    
}

.cinzas  {
    background-color: #f6f6f9;
}

.bannersesp {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 50px;
}

.cartaz2 {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto;
    padding: 0px;
    border-radius: 20px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
    margin: 0 auto 2rem auto;
}

.bloquinho {
    background-color: #f6f6f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 250px;
    height: 100%;
    max-width: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */
    text-align: center;
}

.bloquinho p {
    color: #555;
    font-size: 1.05rem;
}

.icone-promo {
    height: auto;
    width: 12%;
    margin-bottom: 0.2rem;
}

.avaliacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 675px;
    height: 100%;
    max-width: 1500px;
}

.textinho {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.avaliacoes {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
    margin: 0 auto 2rem auto;
}

.bloco {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    justify-content: start;
    width: 100%;
    min-height: 24rem;
}

.perfil {
    display: flex;
    max-width: 105px;
    width: 80%;
    border-radius: 50%;
    align-self: center;
    margin-top: 2rem;
    align-items: baseline;
}

.nome {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.juntos {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
}

.insta {
    display: flex;
    align-items: baseline;
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
}

.fala {
    display: flex;
    align-items: baseline;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.estrelas {
    max-width: 200px;
    width: 100%;
    align-self: center;
    margin-bottom: 0.6rem;
}

.doubts {
    min-height: 20rem;
}

.duvs {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

details {
    background-color: #f6f6f9;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 20px;
}

#check {
    display: none;
}

#check:checked ~ .hidden {
    display: block;
}

#check:checked ~ label {
    display: none;
}

.hidden {
    display: none;
}

label {
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 17rem;
    width: 100%;
    cursor: pointer;
    color: #007BFF;
    border: solid 1px #007BFF;
    background-color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 23px;
    font-size: 1.2rem;
}

label:hover {
    background-color: #007BFF;
    color: white;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #222222;
  padding: 1.5rem;
}

footer h2{
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.footer-geral {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
}

.kmais {
    display: flex;
    justify-content: space-between;
}

.kmais-img {
    display: flex;
    max-width: 6rem;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
}

.kmais-footer {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.reclame-aqui {
    margin-bottom: 0.8rem;
    max-width: 6rem;
    height: auto;
    width: auto;
}

.redes-ajuste {
    display: flex;
    gap: 1rem;
}

.redes {
    display: flex;
    max-width: 1.8rem;
    margin-top: 0.3rem;
}

.so-dps {
    display: none;
}

.colunas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}

.colunas p {
    color: #d2d2d6;
    justify-content: space-between;
}

.colunas a {
    text-decoration: none;
    color: #d2d2d6;
    justify-content: space-between;
}

.coluna {
    flex: 1;
    min-width: 150px;
    max-width: 220px;
    text-align: left;
    font-size: 1.5rem;
    justify-content: space-between;
}

.coluna h2 {
    margin-bottom: 0.5rem;
}

.coluna p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.linha-rodape {
    border: none;
    height: 0.005rem;
    background-color: #575757;
    margin: 25px auto 0 auto;
    width: 100%;
}

.direitos {
    padding: 50px 0px 10px 0px;
    text-align: center;
}

.direitos p {
    color: #898888;
    font-size: 0.9rem;
}

.trilhas {
    display: none;
}

@media screen and (max-width: 922px) {
    .secoes {
        display: none;
    }

    .tracinhos {
        display: flex;
        color: rgb(58, 58, 58);
        margin-left: auto;
    }

    .material-icons:hover {
        cursor: pointer;
    }

    header {
        justify-content: space-between;
        width: 100%;
    }

    .busca {
        justify-content: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 922px) {
     .titulo-trilha {
        margin-bottom: 0px;
     } 

      .trilha {
        display: none;
    }

      .estrelas {
        width: 50%;
      }

      .perfil {
        width: 50%;
      }

      .reclame-aqui {
        width: 50%;
      }

      .trilhas {
        display: block;
    }

      .avaliacao {
        height: 50%;
      }
}

@media screen and (max-width: 640px) {

    .bloco {
        scroll-snap-align: start;
        border-radius: 23px;
        min-height: 70vh;
        min-width: 92vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .perfil {
        min-height: 8rem;
        min-width: 8rem;
    }

    .nome {
        font-size: 1.2rem;
    }

    .fala {
        font-size: 1.15rem;
    }
    
    .avaliacoes {
        display: grid;
        max-width: 100%;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.5rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .avaliacoes::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .conteudo2 {
        max-height: 8rem;
    }

    .trilha {
        display: none;
    }

    .estrelas {
        width: 50%;
      }

    .reclame-aqui {
        width: 50%;
      }

    .trilhas {
        display: block;
    }

    .avaliacao {
        max-height: 5000px;
        max-width: 100%;
    }

    .cartaz1 {
        display: none;
      }

    .cartaz2 {
        display: none;
      }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile-cartaz {
        display: flex;
        justify-content: center;
    }

    .banner-mobile {
        width: 92.1vw;
      }

    .banner-mobile2 {
        width: 92.1vw;
        border-radius: 23px;
    }

    /* .bloco {
        scroll-snap-align: start;
        border-radius: 23px;
        min-height: 70vh;
        min-width: 92vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .perfil {
        min-height: 8rem;
        min-width: 8rem;
    }

    .nome {
        font-size: 1.2rem;
    }

    .fala {
        font-size: 1.2rem;
    }
    
    .avaliacoes {
        display: grid;
        max-width: 100%;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.5rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .avaliacoes::-webkit-scrollbar {
        display: none;
    } */

    label {
        max-width: 100%;
    }

    header {
        flex-wrap: wrap;
        margin-top: 0.2rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .busca {
        display: none;
      }

    .buscador {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0.7rem;
        position: relative;
        z-index: 10;
    }

    .buscador input {
        z-index: 11;
        position: relative;
    }

    .colunas {
        display: flex;
        flex-direction: column;
    }

    .kmais {
        display: none;
    }

    .kmais-img {
        display: none;
    }

    .kmais-footer {
        display: none;
    }

    .direitos p {
        color: white;
    }

    .so-dps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .dps-logo {
        max-width: 5.5rem;
    }

    .foto-dps {
        max-width: 6rem;
    }

    .so-dps p {
        font-size: 1.05rem;
        font-weight: 600;
    }

    .redes-dps {
        display: flex;
        gap: 1.2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 451px) {
    .bloquinho p {
        font-size: 1rem;
    }

    header {
        padding: 1rem;
    }
}

@media screen and (max-width: 610px){
    header {
        padding: 1.1rem;
    }
}

/* testes */