@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Commissioner:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    padding: 2rem;
}

h1 {
    text-align: center;
}

p {
    padding: 1.5rem;
    text-align: center;
    font-size: 500;
}